<%= form_for @form do |f| %>
  <% if @form.errors.any? %>
    <div>
      <h3><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h3>

      <ul>
        <% @form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, "Album Title" %>
  <%= f.text_field :title %>

  <p>Songs:</p>
  <div id="songs">
    <%= render "songs_form", { f: f, context: :songs } %>
  </div>

  <div id="song_template" style="visibility:hidden; height: 0px">
    <%= render "songs_form", { f: f, context: :empty_song } %>
  </div>

  <%= link_to "Add Song", "#", id: "add_song" %>
  <br/>
  <br/>

  <%= f.submit %>
<% end %>

<%= link_to "Back to Albums", albums_path, class: 'btn'  %>
