New Album


<%= form_for @form do |f| %>
  Album Title: <%= f.text_field :title %>


	  <%= f.fields_for :songs do |song| %>
	  	<div>
	      <%#= h song.inspect %>
	      Song: <%= song.text_field :name %>
		</div>
	  <% end %>

  <%= f.submit %>

  <%= h @form.errors.messages.inspect %>
<% end %>
